@import '../../../styles/burger-animation.scss';

header {
    background-color: red;
    display: flex;
    height: 70px;
    align-items: center;
    padding: 0 16px;
    justify-content: space-between;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    & input {
      display: none;
    }
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    &:before {
      position: absolute;
      content: '';
      height: 16px;
      width: 16px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
    &.round {
      border-radius: 34px;
      &:before {
        border-radius: 50%;
      }
    }
  }
  
  .left-container {
    display: flex;
    justify-content: center;
  }

  input:checked + .slider {
    background-color: black;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  #menu_button {
    width: 37px;
    overflow: hidden;
  }
  
  #menu_checkbox {
    display: none;

    &:checked + .menu_label {
      &:before {
        left: -39px;
      }
      &:after {
        left: 39px;
      }
      & .menu_text_bar:before {
        @include animationMix;
        animation: moveUpThenDown 0.8s ease 0.2s forwards,
        shakeWhileMovingUp 0.8s ease 0.2s forwards,
        shakeWhileMovingDown 0.2s ease 0.8s forwards;
      }

    }
  }
  
  .menu_label {
    position: relative;
    display: block;
    height: 29px;
    cursor: pointer;
    &:before {
      top: 0;
    }
    &:after {
      top: 12px;
    }
  }
  
  .menu_label:before,
  .menu_label:after,
  .menu_text_bar {
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #fff;
  }
  
  .menu_label:before,
  .menu_label:after {
    content: "";
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
  }

  .menu_text_bar {
    top: 24px;

    &:before {
    content: "MENU";
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    font-size: 12px;
    font-weight: bold;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    text-align: center;
  }}
